src/plugins/
.ipynb_checkpoints/*
src/__pycache__/*
src/ir/__pycache__/
src/logs/
src/.ipynb_checkpoints/
src/utils/__pycache__/*
accel-sim-v2/*
figures/
data/
iters/
dlrm/
src/dlrm/
src/ir//
interface/.ipynb_checkpoints/*
interface/Execution.txt
HEAWS.pdf
src/req/common/obj/*
src/req/common/aladdin
__pycache__/*
backend/venv/
frontend/node_modules/