torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cpu
fastapi
pydantic
uvicorn
matplotlib
numpy
imageio
python-multipart
pillow
scipy
pyyaml  # `yaml` is not a valid package;
yamlordereddictloader